@font-face {
    font-family: 'Cart';
    src: url("./nexonCart.ttf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'nanumSquare';
    src: url("./NanumSquareR.ttf");
    font-weight: normal;
    font-style: normal;
}